.rt-button {
    height: 45px;
    background-color: var(--bg-button-color);
    color: var(--font-button-color);
    font-size: 16px;
    font-weight: 700;
    padding: 0 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}