@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

  --bg-header-collor: #FF2323;
  --font-header-collor: #FFFFFF;

  --bg-text-field-color: #FFFFFF;
  --font-text-field-color: #6F6F6F;

  --bg-button-color: #FF2323;
  --font-button-color: #FFFFFF;

  --bg-primary-color: #DADADA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

html, body {
    background-color: var(--bg-primary-color);
}

.rt-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

main {
    padding: 30px 40px;
}

.dflex {
    display: flex;
}